<!DOCTYPE html>
html(lang="en")
	head
		meta(http-equiv="Content-Type",content="text/html", charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0")
		meta(name="description", content="起丘找到位在山芝鑽研咖啡多年的老師傅，每顆都是經過中深度烘焙的嚴選豆，酸度低、香氣足，這就是你眼前這杯會回甘的好咖啡！還有透過精挑的錫蘭紅茶葉，不苦澀又香甜，配上完美比例的鮮奶，喉頭的奶香與滋味，不喝喝看怎麼會了解！")
		meta(name="keywords", content="咖啡,鮮奶茶,飲料")
		meta(name="author", content="Risehill")
		meta(name="copyright", content="Risehill")
		meta(property="og:description", content="起丘找到位在山芝鑽研咖啡多年的老師傅，每顆都是經過中深度烘焙的嚴選豆，酸度低、香氣足，這就是你眼前這杯會回甘的好咖啡！還有透過精挑的錫蘭紅茶葉，不苦澀又香甜，配上完美比例的鮮奶，喉頭的奶香與滋味，不喝喝看怎麼會了解！")
		meta(property="og:title", content="起丘Risehill-口袋餅・炭烤吐司專賣店")
		meta(property="og:url", content="www.risehill.com.tw")
		meta(property="og:type", content="website")
		meta(property="og:site_name", content="Risehill")
		meta(property="og:locale", content="zh_TW")
		meta(property="og:image" content="")
		meta(property="og:image:width" content="1200")
		meta(property="og:image:height" content="630")
		link(rel="stylesheet" href="css/main.css")
		title 特選紅茶葉，沒有多餘添加的飲料最實在｜起丘Risehill 
		script(src="js/jquery-3.2.1.min.js")
		script(src="js/jquery.fullPage.min.js")
		script(src="js/vivus.min.js")
		script(src="js/slick.min.js")
		script(src="js/TweenMax.min.js")
		script(src="js/parallax.min.js")
		script(src="js/mainProduct.js")
	body(style="overflow-y: scroll")
		.coming-soon-wrap
			.coming-soon-bg
			.coming-soon-mask
			.coming-soon
				p RWD建置中, 建議暫時使用桌上型電腦瀏覽
				p ^.<~
		.navgation-left-wrap.navgation-left-add
			.navgation-left
				.navgation-logo-wrap
					a(href="index.html", title="首頁")
						img(class="logo-row", src="images/svg/logoRow.svg", alt="")
						img(class="logo-column", src="images/svg/logoColumn.svg", alt="")
				.navgation-menu
					.navgation-open
						svg(version="1.1", id="menuAnimate", class="menuAnimate", x="0px", y="0px", viewBox="0 0 41 41", width="41")
							path(d="M39.5,10.2c-2.8,0-5.5-0.9-7.6-2.3c-1.8-1.2-3.3-2.8-5.1-4c-1.8-1.3-4-2.3-6.3-2.3c-2.4,0-4.6,1-6.3,2.3c-1.8,1.3-3.3,2.8-5.1,4C7,9.3,4.3,10.1,1.5,10.2")
							path(d="M39.5,24.8c-2.8,0-5.5-0.9-7.6-2.3c-1.8-1.2-3.3-2.8-5.1-4c-1.8-1.3-4-2.3-6.3-2.3c-2.4,0-4.6,1-6.3,2.3c-1.8,1.3-3.3,2.8-5.1,4C7,24,4.3,24.8,1.5,24.8")
							path(d="M39.5,39.5c-2.8,0-5.5-0.9-7.6-2.3c-1.8-1.2-3.3-2.8-5.1-4c-1.8-1.3-4-2.3-6.3-2.3c-2.4,0-4.6,1-6.3,2.3c-1.8,1.3-3.3,2.8-5.1,4c-2.1,1.5-4.8,2.3-7.6,2.3")
					.navgation-close
						.nav-close-bg
						.nav-close-left
						.nav-close-right
						.nav-close-text
							span close
				.nagation-left-fake
		.navgation-right-wrap.navgation-right-add
			.navgation-right
				.navgation-fb
					a(href="https://www.facebook.com/Risehillmorning/", title="facebook", target="_blank")
						svg(version="1.1", class="facebook_icon", x="0px", y="0px", viewBox="0 0 50 50", width="50")
							path(d="M25,4c11.7,0,21,9.4,21,21s-9.4,21-21,21S4,36.7,4,25S13.3,4,25,4 M25,0C11.3,0,0,11.3,0,25s11.3,25,25,25s25-11.3,25-25S38.8,0,25,0L25,0z")
							path(d="M30.4,18.1c0,0-1.5,0-2.3,0c-1,0-1,0.4-1,1.5c0,0.8,0,2.1,0,2.1h3.3L30,25h-2.9v12.1h-5.2V25h-3.5v-3.3h3.3c0,0,0-1.5,0-4c0-2.9,1.7-4.6,5.2-4.6c0.6,0,3.3,0,3.3,0v5H30.4z")
				.navgation-gotop
					svg(version="1.1", class="goto-top", viewBox="0 0 30 30", width="12")
						polyline(points="1.4,11.5 7.6,6.5 1.4,1.5")
		.navgation-bottom-wrap
			.navgation-bottom
				.navgation-bottom-line
				span scroll
		nav.menu-wrap.menu-font
			.menu-bg
			.menu-mask
			.menu-main
				.menu-left
					ul
						a(href="index.html#about", title="關於我")
							li
								.menu-number
									span 1
								.menu-tip-line
								.menu-name
									span about
									p 關於起丘
						a(href="pita.html", title="皮塔餅(口袋餅)")
							li
								.menu-number
									span 2
								.menu-tip-line
								.menu-name
									span pita
									p 皮塔餅
						a(href="toast.html", title="碳烤吐司")
							li
								.menu-number
									span 3
								.menu-tip-line
								.menu-name
									span toast
									p 碳烤吐司
						a(href="drink.html", title="飲料")
							li
								.menu-number
									span 4
								.menu-tip-line
								.menu-name
									span drink
									p 飲料
						a(href="index.html#news", title="近期活動")
							li
								.menu-number
									span 5
								.menu-tip-line
								.menu-name
									span news
									p 近期活動
						//- a(href="#blog", title="部落格")
						//- 	li
						//- 		.menu-number
						//- 			span 6
						//- 		.menu-tip-line
						//- 		.menu-name
						//- 			span blog
						a(href="index.html#where", title="我們在哪")
							li
								.menu-number
									span 6
								.menu-tip-line
								.menu-name
									span where
									p 我們在哪
				.menu-right
					.direct-info-box
						a(href="https://www.facebook.com/Risehillmorning/", title="facebook", target="_blank")
							.direct-info-img
								img(src="images/svg/facebookWhite.svg", alt="")
							.direct-info-text
								span facebook
								p rise hill
					.direct-info-box
						.direct-info-img
							img(src="images/svg/infoPhone.svg", alt="")
						.direct-info-text
							span phone number
							p 02-8257-0026
					.direct-info-box
						.direct-info-img
							img(src="images/svg/infoTime.svg", alt="")
						.direct-info-text
							span time
							p 週一至週日 06:30-13:30(最後點餐時間 13:00)
					.direct-info-box
						.direct-info-img
							img(src="images/svg/infoLocation.svg", alt="")
						.direct-info-text
							span 新北市板橋區文化路二段441巷2弄7號
							p 搭乘捷運至江子翠捷運站，從6號出口出來直行約4-5分鐘，過江翠國小並看到萊爾富後，左轉進巷口，我們就在右前方哦！
		.full-photo-wrap.full-photo-wrap-add
			.full-close
				.full-close-bg
				.full-close-left
				.full-close-right
				.full-close-text
					span close
			.full-photo-bg
			.full-photo-animate
			.full-photo-box.slick-full-photo
				img(src="images/popup/drink/milktea/0.jpg", alt="")
			.full-photo-control
				.full-left-wrap
					img(src="images/svg/arrowWhite.svg", alt="")
				.full-right-wrap
					img(src="images/svg/arrowWhite.svg", alt="")
		.container.container-add.drinkPage#drinkPage(style="overflow: hidden;")
			.header-page-wrap
				.slide-arrow-wrap
					.slide-arrow-left
						img(src="images/svg/arrowGreen.svg", alt="")
					.slide-arrow-right
						img(src="images/svg/arrowGreen.svg", alt="")
				.header-page-logo
					img(src="images/svg/logowhite.svg", alt="")
				.header-page-slide.slick-header-page
					.header-pageImg
			//- page slideshow //
			.page-content
				.page-parallax-bg#parallax_Page
					.page-parallax-img(data-depth="0.50")
						img(src="images/parallax/other/item05.png", alt="")
					.page-parallax-img(data-depth="0.50")
						img(src="images/parallax/other/item03.png", alt="")
					.page-parallax-img(data-depth="0.50")
						img(src="images/parallax/leaf/leaf03.png", alt="")
					.page-parallax-img(data-depth="0.50")
						img(src="images/parallax/leaf/leaf02.png", alt="")
				.page-product-title-wrap
					.page-title-en
						h2 _DRINK
					.page-title-cht
						h2 _飲料
				.category-circle-body
					.category-circle
						svg(id="pageCircle", version="1.1", viewBox="0 0 550 550")
							circle(class="category-bg-svg", cx="200", cy="200", r="199")
				.page-slideshow.page-slick
					.page-slideshow-wrap
						.category-wrap
							.category-img
								.category-popoup-btn
									.category-circle-out
									.category-circle-middle
									.category-circle-left
									.category-circle-right
								.category-main-img.category-img-1
									img(src="images/product/drinkMilktea.png", alt="")
							.category-info-wrap-box
								.category-info-name
									h3 鮮奶茶
								.category-info-intro
									p 鮮奶茶
									p 好茶葉配上優質甘醇的鮮奶，加上無數次嘗試調配出的完美比例，交織出的綿密口感，喉韻十足的交疊，不來一杯嗎?
				.category-control-wrap
					.control-container
						.control-left-wrap
							.control-line
							img(src="images/svg/arrowGreen.svg", alt="")
						.control-middle-slick.control-slick
							.control-category-name
								span milk tea
								p 鮮奶茶
						.control-right-wrap
							img(src="images/svg/arrowGreen.svg", alt="")
							.control-line
				.social-wrap
					.social-container
						.social-facebook
						.social-line
				.footer
					a(href="https://www.facebook.com/Risehillmorning/", title="facebook", target="_blank")
						.footer-box
							.footer-icon
								img(src="images/svg/facebookGreen.svg", alt="")
							.footer-info
								h3 facebook
								p rise hill 快來加入我們吧!
					.footer-box
						.footer-icon
							img(src="images/svg/footerL.svg", alt="")
						.footer-info
							h3 地址 Location
							p 新北市板橋區文化路二段441巷2弄7號
					.footer-box
						.footer-icon
							img(src="images/svg/footerP.svg", alt="")
						.footer-info
							h3 電話 Phone number
							p 02-8257-0026
							p 來電自取免等待
					.footer-box
						.footer-icon
							img(src="images/svg/footerT.svg", alt="")
						.footer-info
							h3 營業時間 Opening hours
							p 平日 7:00 - 14:00<br/>假日 7:30 - 14:30
							p (售完為止)
				.copyRight
					p &copy; 2018 risehill.com.tw
		script(src="js/vivusCustom.js")